<h1>Seja Bem Vindo</h1>

<ul>
  <li><%= link_to "Atendentes", atendentes_path %></li>
  <li><%= link_to "Cargos", cargos_path %></li>
  <li><%= link_to "Cidades", cidades_path %></li>
  <li><%= link_to "Consulta", consulta_path %></li>
  <li><%= link_to "Convenio", convenios_path %></li>
  <li><%= link_to "Estados", estados_path %></li>
  <li><%= link_to "Locais", locals_path %></li>
  <li><%= link_to "Pessoas", pessoas_path %></li>
</ul>
